{% extends 'index_master.html' %} 
{% load static %} 
{% block stylesheets %} 
  {{ block.super }} 
  <link rel="stylesheet" type="text/css" href="{% static 'FrWork/admin_lte/build/css/graficos.css' %}"> 
{% endblock stylesheets %} 
{% block content %} 
  <!-- page content --> 
  <div class="right_col" role="main"> 
    <!-- top tiles --> 
    <h1>Agregar Meta</h1> 
    <div class="card-body"> 
      {% if form.errors %} 
        <div class="alert alert-danger"> 
          <ul> 
            {% for field, errors in form.errors.items %} 
              {% for error in errors %} 
                <li>{{ field }}: {{ error }}</li> 
              {% endfor %} 
            {% endfor %} 
          </ul> 
        </div> 
      {% endif %} 
      <form method="POST" enctype="multipart/form-data" id="form-agregar-producto"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <div> 
        
          <button type="button" class="btn btn-primary" onclick="calcularPresupuestoTotal()">Calcular</button> 
        </div> 
        <div class="card-footer"> 
          <div> 
            <a href={% url "listar_producto" %} class="btn btn-secondary ">Cancelar</a> 
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-agregar-producto">Agregar</button> 
          </div> 
        </div> 
      </form> 
    </div> 
  </div> 
</div> 
<!-- /top tiles --> 
<!-- end of weather widget --> 
<!-- /page content --> 
<!-- Ventana modal de confirmación --> 
<div class="modal fade" id="modal-agregar-producto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
  <div class="modal-dialog" role="document"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h5 class="modal-title" id="exampleModalLabel">Confirmar agregar</h5> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
          <span aria-hidden="true">&times;</span> 
        </button> 
      </div> 
      <div class="modal-body"> 
        ¿Estás seguro de agregar este producto? 
      </div> 
      <div class="modal-footer"> 
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button> 
        <button type="submit" form="form-agregar-producto" class="btn btn-primary">Agregar</button> 
      </div> 
    </div> 
  </div> 
</div> 
<!-- javascript --> 
<script>
  function calcularPresupuestoTotal() {
    var form = document.getElementById('form-agregar-producto');
    var campos = form.elements;
    var presupuestoTotal = 0;
    var contratos = [
      campos['Contrato_1'].value,
      campos['Contrato_2'].value,
      campos['Contrato_3'].value,
      campos['Contrato_4'].value,
      campos['Contrato_5'].value,
    ];
    var contratoObj = {{ contratos_json|safe }};
    for (var i = 0; i < contratos.length; i++) {
      if (contratos[i] != '') {
        var contratoId = contratos[i];
        for (var j = 0; j < contratoObj.length; j++) {
          if (contratoObj[j].id === parseInt(contratoId)) {
            presupuestoTotal += parseFloat(contratoObj[j].Valor);
            break;
          }
        }
      }
    }
    document.getElementById('id_presupuesto_total').value = presupuestoTotal;
  }
  
</script>




<script> 
  function abrirModal() { 
    console.log("Se está ejecutando la función abrirModal()"); 
    var form = document.getElementById('form-agregar-producto'); 
    var campos = form.elements; 
    var valido = true; 
    for (var i = 0; i < campos.length; i++) { 
      if (campos[i].value === '') { 
        valido = false; 
        break; 
      } 
    } 
    if (valido) { 
      $('#modal-agregar-producto').modal('show'); 
    } else { 
      Swal.fire({ 
        title: "Error", 
        text: "Por favor, complete todos los campos del formulario", 
        icon: "error", 
        confirmButtonText: "Aceptar" 
      }); 
    } 
  } 
</script> 
{% endblock %}